
<header class="container" th:fragment="header(searchAction)">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/paciente/list">Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/medico/list">Medico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/consulta/list">Consulta</a>
                    </li>
                </ul>
                <div th:fragment="default-search">
                <form class="d-flex" role="search"
                      th:if="${searchAction != null}"
                      th:action="|${searchAction}/'search'|" method="get">
                    <input class="form-control me-2" type="search" name="termo" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning btn-sm" type="submit">Buscar</button>
                </form>
                </div>
            </div>
        </div>
    </nav>

</header>


