<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main}, 'consulta')}">
<head th:replace="~{fragments/head :: head(~{::link},~{::title})}">
    <title>Lista de Consultas</title>
    <link>
</head>

<body>
<main>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Consultas</h1>

        <!-- Link para nova consulta -->
        <div class="mb-3">
            <a href="/consulta/form" class="btn btn-success">Nova Consulta</a>
        </div>

        <!-- Tabela de Consultas -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Médico</th>
                <th>Data</th>
                <th>Observação</th>
                <th>Valor</th>
                <th>Ações</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${consultas}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.paciente.nome}"></td>
                <td th:text="${c.medico.nome}"></td>
                <td th:text="${c.data}"></td>
                <td th:text="${c.observacao}"></td>
                <td th:text="${c.valor}"></td>
                <td>
                    <a th:href="@{/consulta/edit/{id}(id=${c.id})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/consulta/remove/{id}(id=${c.id})}" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
</main>
</body>
</html>
